<form method="post" action="/students">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name">
  

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name">


  <label for="house-select">House Name:</label>
  <select id="house-select" name="house_id">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Slytherin">Slytherin</option>
  </select>

  <label for="age-of">Age:</label>
  <input id="age-of" type="number" name="age">

  <input type="submit" value="Submit Application">
</form>